<div th:fragment="footer" class="border-top-animated mt-5">
    <!-- Section: Social media -->
    <section class="footer-social py-3">
        <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center pt-2">
            <div class="mb-2 mb-md-0">
                <h3 class="h2">¡Connect with Alejandro Arcos Bellido!</h3>
            </div>
            <div class="button-container">
                <a href="https://facebook.com" target="_blank" rel="noopener" class="glass-btn blue-btn">
                    <span class="content"><i class="bi bi-facebook fs-4"></i></span>
                </a>
                <a href="https://x.com" target="_blank" rel="noopener" class="glass-btn dark-btn">
                    <span class="content"><i class="bi bi-twitter-x fs-4"></i></span>
                </a>
                <a href="mailto:aarcos664@gmail.com" target="_blank" rel="noopener" class="glass-btn red-btn">
                    <span class="content"><i class="bi bi-envelope-fill fs-4"></i></span>
                </a>
                <a href="https://github.com/aarcosb" target="_blank" rel="noopener" class="glass-btn dark-btn">
                    <span class="content"><i class="bi bi-github fs-4"></i></span>
                </a>
                <a href="https://linkedin.com" target="_blank" rel="noopener" class="glass-btn blue-btn">
                    <span class="content"><i class="bi bi-linkedin fs-4"></i></span>
                </a>
            </div>
        </div>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="footer-links">
    <div class="container text-center text-md-start mt-4">
        <div class="row mt-2">
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">About me</h6>
            <hr class="mb-3 mt-0 d-inline-block mx-auto footer-hr" />
            <p class="text-neon-white-sm">
                Alejandro Arcos Bellido<br>
                Final cycle project DAW.<br>
                Thanks for visiting!
            </p>
        </div>
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">Projects</h6>
            <hr class="mb-3 mt-0 d-inline-block mx-auto footer-hr" />
            <p><a href="https://aarcosb664-dwec.netlify.app/#/home" class="text-neon-white-sm footer-link">DWEC (Netlify)</a></p>
            <p><a href="#" class="text-neon-white-sm footer-link">DWES</a></p> <!-- TODO: Añadir enlace -->
            <p><a href="#" class="text-neon-white-sm footer-link">Spring Boot</a></p> <!-- TODO: Añadir enlace -->
        </div>
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">Useful links</h6>
            <hr class="mb-3 mt-0 d-inline-block mx-auto footer-hr" />
            <p><a href="/" class="text-neon-white-sm footer-link">Home</a></p>
            <p><a href="/login" class="text-neon-white-sm footer-link">Login</a></p>
            <p><a href="/register" class="text-neon-white-sm footer-link">Register</a></p>
            <p><a href="/game" class="text-neon-white-sm footer-link">Play as guest</a></p>
        </div>
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr class="mb-3 mt-0 d-inline-block mx-auto footer-hr" />
            <p class="text-neon-white-sm"><i class="bi bi-geo-alt-fill me-2"></i>Utrera 41710, Sevilla, Spain</p>
            <p class="text-neon-white-sm"><i class="bi bi-envelope-fill me-2"></i> aarcos664@gmail.com</p>
            <p class="text-neon-white-sm"><i class="bi bi-phone-fill me-2"></i> +34 691 97 04 05</p>
        </div>
        </div>
    </div>
    </section>

    <div class="footer-copyright text-center p-2">
        © 2025 Alejandro Arcos Bellido
    </div>
</div>