<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" th:href="@{/img/logo.png}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
    <link th:href="@{/css/ranking.css}" rel="stylesheet">
    <title>Ranking</title>
</head>

<body>
    <header th:replace="~{fragments/header :: header}"></header>

    <div class="container mt-5">
        <h1 class="banner header-neon-white">Ranking</h1>
        
        <div class="table-container">
            <table class="table table-dark table-striped table-bordered table-hover border-neon-blue">
                <thead>
                    <tr>
                        <th scope="col">
                            Position
                            <span class="arrow">
                                <a class="text-white" th:href="'?sort=position&order=asc'"><i class="bi bi-sort-up"></i></a>
                                <a class="text-white" th:href="'?sort=position&order=desc'"><i class="bi bi-sort-down"></i></a>
                            </span>
                        </th>

                        <th scope="col">
                            Player
                            <span class="arrow">
                                <a class="text-white" th:href="'?sort=userName&order=asc'"><i class="bi bi-sort-up"></i></a>
                                <a class="text-white" th:href="'?sort=userName&order=desc'"><i class="bi bi-sort-down"></i></a>
                            </span>
                        </th>

                        <th scope="col">
                            Score
                            <span class="arrow">
                                <a class="text-white" th:href="'?sort=score&order=asc'"><i class="bi bi-sort-up"></i></a>
                                <a class="text-white" th:href="'?sort=score&order=desc'"><i class="bi bi-sort-down"></i></a>
                            </span>
                        </th>

                        <th scope="col">
                            Blocks
                            <span class="arrow">
                                <a class="text-white" th:href="'?sort=destroyedBlocks&order=asc'"><i class="bi bi-sort-up"></i></a>
                                <a class="text-white" th:href="'?sort=destroyedBlocks&order=desc'"><i class="bi bi-sort-down"></i></a>
                            </span>
                        </th>

                        <th scope="col">
                            Date&nbsp;
                            <span class="arrow">
                                <a class="text-white" th:href="'?sort=dateGame&order=asc'"><i class="bi bi-sort-up"></i></a>
                                <a class="text-white" th:href="'?sort=dateGame&order=desc'"><i class="bi bi-sort-down"></i></a>
                            </span>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="player : ${players}" th:if="${!players.empty}" th:classappend="${player.userId == currentUser.id ? 'text-neon-white' : ''}">
                        <td th:text="${player.position}"></td>
                        <td>
                            <a th:href="@{/profile/{id}(id=${player.userId})}" class="text-white text-decoration-none" th:text="${player.userName}"></a>
                        </td>
                        <td th:text="${player.score}"></td>
                        <td th:text="${player.destroyedBlocks}"></td>
                        <td th:text="${#temporals.format(player.dateGame, 'MM/dd/yyyy - HH:mm')}"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="header-neon-white text-center mt-4" th:if="${players.empty}">
            <h2>No ranking data available</h2>
        </div>

        <div class="mt-4">
            <a href="javascript:history.back()" class="btn btn-neon-red w-100 mt-4">Go back</a>
        </div>
    </div>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html> 