<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Clasificación</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styleRanking.css}">
</head>
<body>
    <h1>Clasificación</h1>
    
    <!-- Mostrar el ranking en una tabla -->
    <table>
        <tr>
            <th style="width: 10%;">Posición</th>
            <th style="width: 20%;">Nombre</th>
            <th style="width: 20%;">Puntos</th>
            <th>Bloques destruidos</th>
            <th>Fecha</th>
        </tr>
        <tr th:each="jugador, iter : ${jugadores}" th:if="${iter.index < 10}">
            <td th:text="${iter.index + 1}"></td>
            <td th:text="${jugador.nombre}"></td>
            <td th:text="${jugador.puntos}"></td>
            <td th:text="${jugador.bloquesDestruidosTotales}"></td>
            <td th:text="${jugador.fecha}"></td>
        </tr>
    </table>

    <h1 th:if="${#lists.isEmpty(jugadores)}">Vacío</h1>

    <a th:href="@{/}">Volver al juego</a>
</body>
</html> 