@use '../globals';
@use '../base' as *;

// Estilos de las tarjetas
.card {
	height: 500px;
	overflow: hidden;

	* {
		transition: transform 0.3s ease-in-out;
	}

	.card-img-top-container {
		height: 200px;
	}
	
	.card-img-top {
		width: 100%;
		height: 100%;
		object-fit: contain;
		display: block;

		&::before {
		content: '';
		background-image: url('');
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		}
	}

	&:hover {
		.card-img-top-container {
		transform: translateY(150%);
		display: flex;
		overflow: visible;
		flex-direction: column;
		border: none !important;
		}

		.card-body,
		.card-footer {
		transform: translateY(150%);
		}
	}
}

// Grid de tags
.grid-tags {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0.5rem;
}

.tag {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
} 

.page-item {
	.page-link {
		@include text-neon-sm($white);
		border: 1px solid $white;
		background-color: $black !important;

		&:hover,
		&:focus {
			@include text-neon-sm($cyan);
			@include border-neon-sm($cyan);
		}
	}

	&.active {
		.page-link {
			@include border-neon-sm($blue);
			@include text-neon-sm($blue);
		}
	}

	&.disabled {
		.page-link {
			@include text-neon-sm($gray);
			border-color: $gray;
		}
	}
}