<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" th:href="@{img/logo.png}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link th:href="@{css/animations.css}" rel="stylesheet">
    <link th:href="@{css/game.css}" rel="stylesheet">
    <title>Breakout!</title>
</head>
<body class="bg-dark text-white overflow-hidden">
    <div class="container-fluid p-0">
        <div class="row vh-100 m-0 g-0">
            <!-- Canvas del juego - 9 columnas -->
            <div class="col-9 p-0 h-100 position-relative">
                <!-- Canvas que dibuja el juego -->
                <canvas id="miCanvas" class="w-100 h-100 bg-light" width="1000" height="750"></canvas>
                
                <!-- Tutorial (emergente) - Está dentro del div del canvas -->
                <div id="tutorial" class="position-absolute top-50 start-50 translate-middle bg-dark bg-opacity-75 text-white p-3 rounded shadow-lg z-3 w-75">
                    <h1 class="border-bottom pb-2 text-center fw-bold">Cómo jugar</h1>
                    <h5 class="mb-2"><i class="me-2">➤</i> Pulsa <kbd>Enter</kbd> para iniciar el juego y pausar/reanudar el juego</h5>
                    <h5 class="mb-2"><i class="me-2">➤</i> Pulsa las flechas <kbd>←</kbd> <kbd>→</kbd> para mover la paleta</h5>
                    <h5 class="mb-2"><i class="me-2">➤</i> Pulsa <kbd>R</kbd> para ver la clasificación</h5>
                    <h5 class="mb-2"><i class="me-2">➤</i> Pulsa <kbd>Espacio</kbd> para usar el poder</h5>
                </div>
            </div>
            
            <!-- Panel lateral - 3 columnas -->
            <div class="col-3 p-2 h-100 bg-black overflow-hidden d-flex flex-column">
                <!-- Información -->
                <fieldset class="animated-card">
                    <span class="top"></span>
                    <span class="right"></span>
                    <span class="bottom"></span>
                    <span class="left"></span>
                    <h4 class="mb-1 text-center fw-bold border-bottom pb-2 mb-3">Información</h4>
                    <!-- Vidas -->
                    <div class="d-flex align-items-center justify-content-center my-1">
                        <img th:src="@{/img/vida.svg}" alt="Vida" class="me-2 icon-30" width="35" height="35"/>
                        <h1 id="vidas" class="fs-4 m-0">Lives</h1>
                    </div>
                    <!-- Puntos -->
                    <div class="d-flex align-items-center justify-content-center my-2">
                        <img th:src="@{/img/puntuacion.svg}" alt="Puntuacion" class="me-2 icon-30" width="35" height="35"/>
                        <h1 id="puntos" class="fs-4 m-0">Points</h1>
                    </div>
                    <!-- Bloques destruidos -->
                    <div class="d-flex align-items-center justify-content-center my-2">
                        <img th:src="@{/img/bloque.svg}" alt="BloquesDestruidos" class="me-2 icon-30" width="35" height="35"/>
                        <h1 id="bloquesDestruidos" class="fs-4 m-0">Destroyed</h1>
                    </div>              
                    <!-- Filas -->
                    <div class="d-flex align-items-center justify-content-center my-2">
                        <img th:src="@{/img/fila.svg}" alt="Fila" class="me-2 icon-30" width="35" height="35"/>
                        <h1 id="filas" class="fs-4 m-0">Rows</h1>
                    </div>
                    <!-- Columnas -->
                    <div class="d-flex align-items-center justify-content-center my-2">
                        <img th:src="@{/img/columna.svg}" alt="Columna" class="me-2 icon-30" width="35" height="35"/>
                        <h1 id="columnas" class="fs-4 m-0">Columns</h1>
                    </div>
                </fieldset>
                
                <!-- Poder -->
                <fieldset class="animated-card">
                    <span class="top"></span>
                    <span class="right"></span>
                    <span class="bottom"></span>
                    <span class="left"></span>
                    <h4 class="mb-1 text-center fw-bold border-bottom pb-2 mb-3">Poder</h4>
                    <h1 id="poderTxt" class="text-center my-3 text-white">Nada</h1>
                </fieldset>
                
                <!-- Opciones -->
                <fieldset class="animated-card">
                    <span class="top"></span>
                    <span class="right"></span>
                    <span class="bottom"></span>
                    <span class="left"></span>
                    <h4 class="mb-1 text-center fw-bold border-bottom pb-2 mb-3">Opciones</h4>
                    <!-- TODO Arreglar botones -->
                    <div class="d-flex justify-content-around py-3">
                        <button id="reanudar" onclick="reanudar()" class="mx-2 bg-transparent border-0 game-button" data-icon="reanudar"></button>
                        <button id="pausar" onclick="pausar()" class="mx-2 bg-transparent border-0 game-button" data-icon="pausar"></button>
                        <button id="clasificacion" onclick="verRanking()" class="mx-2 bg-transparent border-0 game-button" data-icon="ranking"></button>
                    </div>
                </fieldset>
            </div>
        </div>

        <!-- Ventana ranking -->
        <a th:href="@{/ranking}" id="rankingLink" class="d-none">Ranking</a>
        
        <!-- Ventana emergente para guardar la información del jugador -->
        <form id="ranking" method="post" th:action="@{/ranking}" sec:authorize="isAuthenticated()" 
              class="position-fixed top-50 start-50 translate-middle bg-black bg-opacity-90 text-white rounded p-4 shadow-lg w-50 text-center z-3 d-none">
            <h1 class="mb-3">Game Over!</h1>
            <h2 class="mb-4 border-bottom pb-2">Your Final Score</h2>
            <h3 id="puntuacionFinal" class="mb-2">Final Score: </h3>
            <input type="hidden" name="score" id="inputPuntuacionFinal" />
            <h3 id="bloquesDestruidosFinal" class="mb-2">Total Destroyed Blocks: </h3>
            <input type="hidden" name="destroyedBlocks" id="inputBloquesDestruidosFinal" />
            <h3 id="fecha" class="mb-4">Date: </h3>
            <input type="hidden" name="dateGame" id="inputFechaFinal" />
            <h1 class="mb-3">Enter your name:</h1>
            <input type="text" name="userName" id="nombreJugador" placeholder="Name" required class="mb-3" />
            <div class="d-flex justify-content-center gap-3">
                <button type="submit" onclick="guardarRanking()" class="btn btn-success">Save</button>
                <button type="reset" onclick="recargar()" class="btn btn-danger">Cancel</button>
            </div>
        </form>
        
        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

        <script th:src="@{/js/game/constants.js}"></script>
        <script th:src="@{/js/game/Ball.js}"></script>
        <script th:src="@{/js/game/Paddle.js}"></script>
        <script th:src="@{/js/game/Brick.js}"></script>
        <script th:src="@{/js/game/PowerManager.js}"></script>
        <script th:src="@{/js/game/BrickManager.js}"></script>
        <script th:src="@{/js/game/InputManager.js}"></script>
        <script th:src="@{/js/game/RankingManager.js}"></script>
        <script th:src="@{/js/game/Game.js}"></script>
    </body>
</html>