@use 'globals';
@use 'base' as *;
@use 'base/vars' as *;
@use 'base/mixins' as *;

.form-custom {
  @include text-neon($white);
  @include border-neon-sm($white);
  background-color: $black !important;

  &::placeholder {
    @include text-neon($gray);
  }

  &:focus, 
  &:hover {
    @include border-neon-sm($gray);
    @include text-neon($white);
  }
}

.card {
  height: 500px;
  overflow: hidden;

  * {
    transition: transform 0.3s ease-in-out;
  }
}

.card-img-top-container {
  height: 200px;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.card:hover {
  .card-img-top-container {
    transform: translateY(150%);
    display: flex;
    overflow: visible;
    flex-direction: column;
    border: none !important;
  }

  .card-body,
  .card-footer {
    transform: translateY(150%);
  }
}

.grid-tags {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.tag {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.page-link {
  @include text-neon($white);
  background-color: $black !important;

  &:hover, 
  &:focus {
    @include text-neon($cyan);
    border: 1px $cyan solid;
  }
}

.page-item.active .page-link {
  @include border-neon-sm($blue);
  @include text-neon($blue);
}

.page-item.disabled .page-link {
  color: $gray !important;
  border-color: $gray !important;
}

.modal-grid {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-items: space-between;
  gap: 1rem;

  .form-custom {
    text-align: center !important;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    &[type=number] {
      appearance: textfield;
      -moz-appearance: textfield;
    }
  }
}

.label-required {
  &::before {
    content: "*";
    color: $red;
    margin-right: 0.25rem;
  }
}