@use 'base' as *;
@use 'components/header';
@use 'components/footer';
@use 'components/utils-freefrontend';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
	background-color: $black;
	color: $white;
	padding-top: 4rem;
}

html {
	font-size: 100%;

	@media (max-width: 768px) {
		font-size: 80%;
	}
}

// Estilos para la barra de desplazamiento
::-webkit-scrollbar {
	width: 10px;

	&-track {
		background: $gray;
	}

	&-thumb {
		border-radius: 10px;
		border: 1px solid $black;
		background-color: $gray;
		background-image: linear-gradient(to bottom, $blue, $green);
	}
}

.container {
	padding: 0;
	max-width: 90%;
	margin: 0 auto;
	transition: max-width 0.3s ease;

	@media (min-width: 1200px) {
		max-width: 1200px; 
	}
}

input, select, textarea {
	@include text-neon($white);
	@include border-neon-sm($white);
	background-color: $black !important;
	color: $white !important;
	border-radius: 8px;
	transition: border-color 0.2s, box-shadow 0.2s;

	&::placeholder {
		@include text-neon-sm($gray);
	}

	&:focus, 
	&:hover {
		background-color: $black !important;
		@include border-neon-sm($white);
	}
}

input {
	// Ocultar el botón de incrementar/decrementar en los campos de número
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	// Ocultar el botón de incrementar/decrementar en los campos de número en Firefox
	&[type=number] {
		appearance: textfield;
		-moz-appearance: textfield;
	}

	// Cambiar el color del calendario en los campos de fecha
	&::-webkit-calendar-picker-indicator {
		filter: invert(1);
	}

	// Ocultar el botón de mostrar/ocultar contraseña en los campos de contraseña
	&[type="password"] {
		&::-ms-reveal,
		&::-ms-clear,
		&::-webkit-credentials-auto-fill-button {
			display: none !important;
		}
	}
}

// Cambio de color del campo de texto al autocompletar
.form-control {
	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus,
	&:-webkit-autofill:active {
		-webkit-box-shadow: 0 0 0 30px transparent inset !important;
		-webkit-text-fill-color: $white !important;
		caret-color: $white !important;
		transition: background-color 5000s ease-in-out 0s;
	}
}

label {
	@include text-neon-sm($gray);
	font-weight: 500;
}

// Recorte de texto a 1 línea
.crop { 
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis; 
	width: 100%; 

	// Se recorta el texto a 3 líneas
	&-extended {
		white-space: normal;
		display: -webkit-box;
		line-clamp: 3;
		-webkit-box-orient: vertical; 
		-webkit-line-clamp: 3;
		overflow: hidden; 
	}
}