@use 'base' as *;
@use 'components/navbar';
@use 'components/footer';
@use 'components/banner';
@use 'components/utils-freefrontend';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $black;
  color: $white;
  padding-top: 4rem;
}

::-webkit-scrollbar {
  width: 12px;

  &-track {
    background: $gray;
  }

  &-thumb {
    border-radius: 10px;
    border: 1px solid $black;
    background-color: $gray;
    background-image: -webkit-gradient(linear,
                      40% 0%,
                      75% 84%,
                      from($blue),
                      to($blue),
                      color-stop(.6,$cyan))
  }
}

.container {
  @extend .container;
  padding: 0;
  max-width: 90%;
  margin: 0 auto;
  transition: max-width 0.3s ease;
  @media (min-width: 1200px) { max-width: 1200px; }
}

input, select, textarea {
  @include text-neon($white);
  @include border-neon-sm($white);
  background-color: $black !important;
  color: $white !important;
  border-radius: 8px;
  transition: border-color 0.2s, box-shadow 0.2s;

  &::placeholder {
    @include text-neon-sm($gray);
  }

  &:focus, 
  &:hover {
    background-color: $black !important;
    @include border-neon-sm($white);
  }
}

input {
  // Ocultar los botones de los inputs de tipo number
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  // Cambiar el color del icono del calendario a blanco
  &::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }

  /* Firefox */
  &[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
  }

  // Ocultar el botón de autocompletar de los inputs de tipo password
  &[type="password"] {
    &::-ms-reveal,
    &::-ms-clear,
    &::-webkit-credentials-auto-fill-button {
      display: none !important;
    }
  }
}

label {
  @include text-neon-sm($gray);
  font-weight: 500;

  .label-required {
    &::before {
      content: "*";
      color: $red;
      margin-right: 0.25rem;
    }
  }
}

.crop { 
  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: ellipsis; 
  width: 100%; 

  &-extended {
    white-space: normal;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 3;
    overflow: hidden; 
  }
}