@use 'base' as *;
@use 'animations';

.carousel-container {
  background-color: #000;
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

.carousel-container, 
.carousel-inner, 
.carousel-control-prev, 
.carousel-control-next,
.carousel-item {
  min-height: 300px;
}

.carousel-item {
  transition: opacity 0.2s linear;
  
  &.active {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.img-carousel {
  height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  background: #000;
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 5;
  width: 10%;
  opacity: 0.8;
  
  &:hover {
    opacity: 1;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 1rem;
}

.listing-card {
    @include animated-card($azulPrimario, $azulSecundario);
}